<div>
  <textarea style="display:none;" id="{{id}}" name="{{name}}"></textarea>
  <div id="editor-{{id}}"></div>
  <script>
    (function() {
      initAndLoadSchemaEditor(JSON.parse('{{ context | escapejs }}'));
    })();
  </script>

  <style>
    /* Required to remove "Object properties" button from the schema-editor form. */
    .card-title,
    .je-object__controls {
      display: none !important;
    }

    /* Required to avoid django-form css to change the schema-editor form style. */
    .form-group > label::after {
      content: none !important;
    }
    </style>
</div>
